@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TanPearl";
    src: url("/fonts/tanpearl.woff2");
  }
  @font-face {
    font-family: "EuclidCircularA";
    src: url("/fonts/EuclidCircularA.woff2");
  }
  @font-face {
    font-family: "Barlow";
    src: url("/fonts/barlow.woff2");
  }
}

html {
  font-size: 16px;
}
